<app-header></app-header>
<div class="columns is-centered">
  <div class="column is-one-third">
      <form #form="ngForm" (ngSubmit)="handleSubmit(form.value)">
        <label class="label">
          Title:
        </label>
        <input class="input" type="text" placeholder="Enter search term..." name="query" #query ngModel autofocus>
        <button class="button" type="submit">FIND</button>
      </form>  
  </div>
</div> 

  <div class="columns is-centered">

    <div class="column is-four-fifths" *ngIf="isSeries">
        <app-series [series]=result></app-series>
    </div>

    

    <app-movie [movie]=result *ngIf="!isSeries"></app-movie>

    <app-not-found *ngIf="notFound"></app-not-found>

  </div>

  <app-footer></app-footer>
  


